html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-size: 3vh;
    background-color: #efefef;
    padding: 10px;
    margin: 0;
}
h1 {
    font-size: 15pt;
    color: #20bcd5;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}
p {
    padding: 0;
    margin: 0;
}
.img-circle {
    border: 3px solid white;
    border-radius: 50%;
}
.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#header {
    background-image: url("https://www.sololearn.com/Uploads/header.jpg");
    background-size: cover;
}
#header img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}
#header p {
    font-size: 30pt;
    color: rgb(19, 17, 17);
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
.quote {
    font-size: 3vh;
    text-align: right;
    margin-top: 10px;
}
table {
    width: 100%;
    height: 100%;
    font-size: 2.2vh;
}
table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.selected:nth-child(even) {
    background-color: #f36f48;
    font-weight: bold;
    color: white;
}

.selected {
    background-color: #1daee7;
    font-weight: bold;
    color: white;
}
li {
    margin-bottom: 15px;
    font-weight: bold;
}
progress {
    width: 70%;
    height: 20px;
    color: #3fb6b2;
    background: #efefef;
}
progress::-webkit-progress-bar {
    background: #efefef;
}
progress::-webkit-progress-value {
    background: #3fb6b2;
} 
progress::-moz-progress-bar {
    color: #3fb6b2;
    background: #efefef;
}
iframe, audio {
    display: block;
    margin: 0 auto;
    border: 3px solid #3fb6b2;
}
hr {
    border: 0;
    height: 1px;
    background: #f36f48;
}
form {
    text-align: center;
    margin-top: 0;
}
.submit {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #43a09d;
}
textarea {
    height: 100px;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 12pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
.face {
    transform: scale(0.4);
    margin: 0 auto;
    display: block;
    margin-top: -35px;
    margin-bottom: -25px;
}
#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
}
.copyright {
    font-size: 12pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}


.container{
    width: 100%;
    height: 400px;
    background:#efefef;
    margin: 20px auto;
    display: flex;
}

.section .column{
    height: 100%;
    flex: 1;
    color:#fff;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    transition: 0.6s;
}

.section .column:nth-child(1){
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./img/6.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.section .column:nth-child(2){
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./img/love.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.section .column:nth-child(3){
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    text-align: center;
    font-size: 21px;
    font-weight: 600;
}

.caption{
    max-width: 230px;
    font-size: 11px;
    margin: 28px 0;
    display: none;
}

.caption button{
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    padding: 8px 18px;
    color:#fff;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 12px;
}

.caption button a{
    text-decoration: none;
    color: white;
}

.column:hover{
    flex-grow: 2.5;
    
}

.column:hover .caption{
    display: block;
}

.column:hover h2{
    text-align: left;
}

@media screen and (max-width:700px){
    .container{
        height: 240px;
        width: 100%;
    }
}
.facebook {
    background: #3B5998;
    color: white;
  }

  .youtube {
    background: #f53434;
    color: white;
  }

  .instagram {
    background: #f36f48;
    color: white;
  }
  
  #contacts a {
    display: inline-block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  #contacts a:hover {
    background-color: #000;
  }

  
#gal .column img{
  width: 100%;
  height: 60%;
  margin-bottom: 20px;
}

#head {
    padding: 5px;
    width:100%; 
    color: whitesmoke;
    margin-bottom: 10px;
    background: linear-gradient(90deg, 
     rgba(255, 255, 255, 0) 0%, 
     rgba(255, 255, 255, 0.2) 25%, 
     rgba(255, 255, 255, 0.2) 75%, 
     rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);
}

